{
  "plugins": [
    "prettier-plugin-tailwindcss"
  ],
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "trailingComma": "es5",
  "eol-last": 0,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "no-param-reassign": 2,
  "no-multiple-empty-lines": [
    2,
    {
      "max": 2
    }
  ]
}